body {
    font-family: Menlo, monospace;
    background-color: #222;
    color: rgb(175, 175, 175);
    border-top: rgb(194, 9, 201) 8px solid;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.hidden {
    display: none;
}

.alert {
    position: absolute;
    top: 10px;
    opacity: 1;
    font-size: 12px;
}

.fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

.lock-status {
    position: absolute;
    top: 0;
    left: 0;
    margin: 16px;
}